body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2E005C;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  align-items: left;


}
.index_header{
  background-color:#9244E1
}
.index_header img{
  width: 10%;
  margin-top: 3%;
  margin-bottom: 1%;
  float: center;
}
.index_header p{
  color: white;
  font-size: 15px;
  
}

.App form{
  background: #9244E1 ;
  display: inline-block;
  margin-top: 3%;
  border-radius: 20px;

}
.form_login{
  width: 50%;
  color:white




}
.form_login h3{
  font-size: 30px
}
.form_login p{

  font-size: 15px
}
.form_login input{
  border-radius: 10px;
  border-color: inherit;
  border: none;
  font-size: 17px
}
.form_login button{
  margin-bottom: 10%;
  margin-top: 5%;
  background: #748BDB;
  color: white;
  border-radius: 10px;
  width: 30%;
  font-size: 15px;
  border-color: inherit;
  border: none
}
.form_cadastro{
  width: 50%;
  color:white




}
.form_cadastro h3{
  font-size: 30px;
  margin-bottom: 5%;
  margin-top: 5%
}
.form_cadastro p{

  font-size: 15px
}
.form_cadastro input{
  border-radius: 10px;
  border-color: inherit;
  border: none;
  font-size: 17px;
  margin-left: 10px;

}
@media only screen and (max-width: 900px)   {
  .form_cadastro input{
    margin-bottom: 3%
  }
}
.form_cadastro button{
  margin-bottom: 10%;
  margin-top: 5%;
  background: #748BDB;
  color: white;
  border-radius: 10px;
  width: 30%;
  font-size: 15px;
  border-color: inherit;
  border: none
}
.form_cadastro h4{
  font-size: 20px;
  margin-top: 3%
}
.cadastro_button{

  margin-top: 3%;
  background: #748BDB;
  color: white;
  border-radius: 10px;
  width: 15%;
  font-size: 15px;
  border-color: inherit;
  border: none;
  float: right;
  margin-right: 5%
}

.lista_title{
  font-size: 40px;
  margin-top: 3%
}
